/*#########################################################
					ESTILIZAÇÃO DA PÁGINA
#########################################################*/

/**************************** COMPONENTES DE FORMULÁRIO ****************************/
.form-label {
	color: #ffffff;
	font-family: Agency FB;
	font-size: 22px;
}

.form-control {
	border: #7C23F0 solid 2px;
	background-color: transparent;
	border-radius: 5px;
	color: #ffffff;
}

.form-control:hover {
	border: #4F26B5 solid 2px;
}

.form-control:focus {
	background-color: transparent;
	color: #ffffff;
	border: #4F26B5 solid 2px;
	box-shadow: 2px 1px 2px 2px #4F26B5;
}

.form-control-plaintext {
	border: #7C23F0 solid 2px;
	background-color: transparent;
	border-radius: 5px;
	color: #ffffff;
}

.custom-file-label {
	background-color: #7C23F0;
	border: #7C23F0 solid 1px;
	color: #ffffff;
}

select option {
	color: #7C23F0;
	background-color: #303030;
}

.preview-img-banner {
	border: 2px solid #7C23F0;
	border-radius: 10px;
}

/**************************** TABELA ****************************/
table {
	border: #7C23F0 solid 2px;
	color: #ffffff;
}

tbody td {
	border: #7C23F0 solid 1px;
}

thead tr {
	background-color: #7C23F0;
}

.content-acoes {
	display: flex;
	justify-content: space-around;
}

/*********************** ESTILO DAS MENSAGENS DE AVISO ***********************/
.success-message {
	color: #1d942c;
	font-family: Agency FB;
	font-size: 22px;
}

.error-message {
	color: #dc3545;
	font-family: Agency FB;
	font-size: 22px;
}

/*#########################################################
						BOOTSTRAP
#########################################################*/
.btn {
	min-width: 10vw;
	width: auto;
}