/*#########################################################
					ESTILIZAÇÃO DA PÁGINA
#########################################################*/

/**************************** IMPORTAÇÕES ****************************/
@font-face {
    font-family: Orbitron;
    src: url(../fontes/orbitron/static/Orbitron-Regular.ttf);
}

@font-face {
    font-family: Montserrat-regular;
    src: url(../fontes/montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-medium;
    src: url(../fontes/montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat-bold;
    src: url(../fontes/montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Source-sans-pro;
    src: url(../fontes/source-sans-pro/static/SourceSans3-Regular.ttf);
}

/*###################### MEDIA QUERIES ######################*/
/*---- col-lg ----*/
@media(max-width: 1200px) {
    /*Container da postagem*/
    .titulo {
        font-size: 1.5em !important;
    }

    .referencia-disciplina {
        font-size: 0.87em !important;
    }

    .previa-post {
        height: auto !important;
        max-height: 25vh !important;
    }

    .nome-autor {
        font-size: 1.13em !important;
    }
}

/*---- col-md ----*/
@media(max-width: 992px) {
    /*Container da postagem*/
    .ref-type-post {
        font-size: 0.75em !important;
    }
}

/*---- col-sm ----*/
@media(max-width: 768px) {
    /*Container da postagem*/
    .img-postagem {
        min-height: 25vh !important;
        max-height: 30vh !important;
    }

    .previa-post {
        max-height: 22vh !important;
    }

    .img-autor {
        width: 3em !important;
        height: 3em !important;
    }

    .nome-autor {
        font-size: 1em !important;
    }

    .coluna-btn {
        justify-content: center !important;
        margin-top: 0.62em;
    }
}

/*---- col ----*/
@media(max-width: 576px) {
    /*Container da postagem*/
    .section-conteudo {
        padding: 0.5em 1em 3em 1em !important;
    }

    .externa {
        margin: 0 0 1em 0 !important;
    }

    .conteudo {
        padding: 0.5em 1em 1em 1em !important;
    }

    /*container das tecnologias relacionadas*/
    .nav-ref-tecnologias {
        width: calc(100% - 30px) !important;
        max-width: calc(100% - 30px) !important;
        border-radius: 0 !important;
    }

    .container-tecnologias {
        width: 100% !important;
        max-width: 100% !important;
        padding: 0.35em 1em 0.3em 1em !important;
        margin: 0 !important;
    }

    /*Scroll das tecnologias do post*/
    .container-tecnologias::-webkit-scrollbar {
        width: 100% !important;
        height: 3px !important;
    }

    .referencia-tecnologia {
        height: 1.3em !important;
        padding: 4px 5px !important;
    }

    /*Dados da postagem*/
    .titulo {
        font-size: 1.25em !important;
    }

    .referencia-disciplina {
        font-size: 1em !important;
    }

    .previa-post {
        max-height: 20vh !important;
        font-size: 0.87em !important;
    }

    .item-data-post {
        margin-bottom: 0.5em !important;
    }

    .nome-autor {
        font-size: 0.87em !important;
    }

    .btn {
        font-size: 0.87em;
    }
}

/*---- mobile L ----*/
@media(max-width: 424px) {
    /*Container da postagem*/
    .img-postagem {
        min-height: 24vh !important;
        max-height: 28vh !important;
        height: auto !important;
    }

    .previa-post {
        max-height: 18vh !important;
    }

    .referencia-disciplina {
        font-size: 13px !important;
    }
}

/**************************** FORMATAÇÃO DO DOCUMENTO ****************************/
/*Container da postagem*/
html {
    scroll-behavior: smooth;
}

.section-conteudo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-tecnologias::-webkit-scrollbar {
    width: 50%;
    height: 6px;
}

/*----------------------- CONTAINER DA POSTAGEM -----------------------*/
.class-container {
    padding: 20px 30px 1em 30px;
    margin: 0px 0px 30px 0px;
    z-index: 2;
    border-radius: 0.625em;
}

.container-postagem {
    margin: 0;
    padding: 0;
}

.conteudo {
    padding: 0.5em 30px 1em 30px;
}

/*---- div para o efeito rotatório ----*/
.externa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 5px;
    margin: 0 0 1.5em 0;
    border-radius: 10px;
}

.externa:hover {
    transform: scale(1.02);
    transition: 0.2s;
}

.externa:hover::before {
    position: absolute;
    content: '';
    width: 12vw;
    height: 400%;
    z-index: -2;
    background: linear-gradient(45deg, #4F26B5, #7C23F0, #8963E1);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    100% {
        transform: rotate(500deg);
        filter: blur(calc((9vw + 9vh - 30px)/2));
    }
}

/*------ Row 1: Imagem e tecnologias------*/
.div-img {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

.img-postagem {
    width: 100%;
    max-height: 35vh;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.nav-ref-tecnologias {
    position: absolute;
    display: flex;
    justify-content: left;
    width: auto;
    max-width: 50%;
    max-height: 50px;
    margin: 0 0 1.25em 0;
    border-radius: 0 0.75em 0.75em 0;
    background-color: #212125;
}

.container-tecnologias {
    display: flex;
    justify-content: left;
    grid-gap: 5px 0.5em;
    flex-wrap: nowrap;
    width: auto;
    max-height: 50px;
    padding: 0.5em 2em 0.4em 0.62em;
    margin: 0 0.8em 0 0;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: transparent;
}

.referencia-tecnologia {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6em;
    padding: 10px;
    border-radius: 1em;
    white-space: nowrap;
    color: #8963E1;
    font-family: Goldman Regular;
    background-color: #303030;
}

.referencia-tecnologia label {
    margin: 0;
    font-size: 0.75em;
}

.referencia-tecnologia:hover {
    transform: scale(1.1);
    transition: 0.1s;
    border: 1px solid #8963E1;
    box-shadow: 2px 2px 4px #8963E1,
        2px 0px 4px #8963E1;
}

/*------ Div conteúdo postagem ------*/

/*------ Row 1: Container titulo ------*/
.container-titulo {
    display: flex;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;
}

.titulo {
    margin: 0px;
    padding: 4px 4px 0 4px;
    font-family: Montserrat-bold;
    font-size: 28px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    color: #FFF;
    cursor: pointer;
}

/*---- Row 1: Container disciplina----*/
.container-disciplina {
    padding: 5px 5px 5px 1em;
}

.referencia-disciplina {
    position: relative;
    display: inline-block;
    color: #7C23F0;
    font-family: Orbitron;
    font-size: 1em;
}

.referencia-disciplina:hover {
    color: #7C23F0;
}

/*Efeito underline referencia disciplina*/
.referencia-disciplina::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    background-color: #7C23F0;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.referencia-disciplina:hover::after {
    width: 100%;
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*------ Row 3: Previa da postagem ------*/
.previa-post {
    width: 100%;
    max-height: 28vh;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    text-align: justify;
    text-overflow: ellipsis;
    font-family: Source-sans-pro;
    font-size: 1em;
    color: #FFF;
}

/*------ Row 4: Dados da postagem e botão de ler mais ------*/
.item-data-post {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.coluna-btn {
    justify-content: flex-end;
}

.data {
    color: #FFF;
    font-family: Montserrat-regular;
    font-size: 0.87em;
    margin: 0;
}

.dados-autoria {
    display: flex;
    flex-direction: column;
    gap: 5px 0;
    padding: 0px 0.5em;
    align-items: flex-start;
}

.img-autor {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}

.nome-autor {
    font-family: Montserrat-medium;
    font-size: 18px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.data-postagem {
    font-size: 0.75em;
    color: #919191;
}

.ref-type-post {
    padding: 5px 1em;
    border-radius: 0.5em;
    color: #8963E1;
    font-family: Montserrat-medium;
    font-size: 0.87em;
    white-space: nowrap;
    font-weight: bold;
    background-color: #303030;
}

.btn-continue {
    min-width: 12em;
    max-width: 20em;
    width: auto;
}