/*#########################################################
					ESTILIZAÇÃO DA PÁGINA
#########################################################*/

/**************************** IMPORTAÇÕES ****************************/
@font-face {
	font-family: Orbitron;
	src: url(../fontes/orbitron/static/Orbitron-Regular.ttf);
}

@font-face {
	font-family: Goldman Regular;
	src: url(../fontes/goldman/Goldman-Regular.ttf);
}

@font-face {
	font-family: Agency FB;
	src: url(../fontes/agency-fb/agency_fb.ttf);
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}

/**************************** COMPONENTES PRICIPAIS ****************************/
body {
	display: flex;
	flex-direction: column;
	background-color: #17171A;
	margin-top: 6em;
}

section {
	padding: 4em;
	box-sizing: border-box;
}

footer {
	background-color: #121212;
	padding: 2em;
	position: relative;
	color: #ffffff;
}

.class-container {
	background-color: #212125;
	border-radius: 15px;
	box-sizing: border-box;
	padding: 1em 2.5em 1em 2.5em;
	margin: 3rem 0 4rem 0;
}

/**************************** CABEÇALHO ****************************/
header nav a {
	color: #ffffff;
	font-family: Agency FB;
	font-size: 1.4em;
	text-decoration: none;
}

header nav .info-n3 {
	font-family: Agency FB;
	font-size: 20px;
	color: #ffffff;
	text-decoration: none;
}

.cbc-n3,
.cbc-n4,
.cbc-n5 {
	margin: 5px;
	padding: 8px 8px 8px 0px;
	font-family: Orbitron;
}

.cbc-n3 {
	font-size: 32px;
}

.cbc-n4 {
	font-size: 26px;
}

.cbc-n5 {
	font-size: 20px;
}

.cbc-style-primary {
	border-bottom: #7C23F0 solid 2px;
	color: #ffffff;
}

.cbc-style-primary2 {
	border-bottom: #303030 solid 2px;
	color: #ffffff;
}

.cbc-style-secundary {
	color: #7C23F0;
	border-bottom: #303030 solid 2px;
}

/**************************** RODAPÉ ****************************/
footer h3 {
	font-family: Orbitron;
	font-size: 1.8em;
}

footer p {
	font-family: Agency FB;
	font-size: 1.2em;
}

/**************************** COMPONENTES ****************************/
.botao {
	background-color: #7C23F0;
	border-radius: 5px;
	color: #ffffff;
}

textarea {
	resize: none;
}

/*#########################################################
						BOOTSTRAP
#########################################################*/

/*----------- MUDANÇA EM CLASSES -------------*/
nav.navbar-style {
	justify-content: space-between;
	background-color: #121212;
	padding: 1em;
	border-bottom: #303030 solid 1px;
}

.col-md-5 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/**************************** BOTÕES ****************************/
.btn {
	font-family: Goldman Regular;
	min-width: 10vw;
	width: auto;
}

.btn-primary {
	background-color: #7C23F0;
	border: 0;
	width: 8em;
}

.btn-primary:hover {
	background-color: #4F26B5;
}

/*----------- PAGINAÇÃO -------------*/
.page-link {
	background-color: #212125;
	border: #7C23F0 solid 1px;
	color: #fff;
	font-family: Goldman Regular;
}

.page-link:hover {
	background-color: #4F26B5;
	border: #4F26B5 solid 1px;
	color: #fff;
}

.btn-pg {
	background-color: rgb(124, 35, 240, 0.7);
}