/*#########################################################
					ESTILIZAÇÃO DA PÁGINA
#########################################################*/

/**************************** IMPORTAÇÕES ****************************/
@font-face {
    font-family: Orbitron;
    src: url(../fontes/orbitron/static/Orbitron-Regular.ttf);
}

@font-face {
    font-family: Montserrat-regular;
    src: url(../fontes/montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-medium;
    src: url(../fontes/montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat-bold;
    src: url(../fontes/montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Source-sans-pro;
    src: url(../fontes/source-sans-pro/static/SourceSans3-Regular.ttf);
}

/*###################### MEDIA QUERIES ######################*/
/*---- col-lg ----*/
@media(max-width: 1200px) {
    .tecnologias-blog {
        padding: 1.25em 1em 1em 1em !important;
        right: 3em !important;
    }

    .cbc-style-primary2 {
        font-size: 1em !important;
    }

    .btn-post-tecnologia {
        height: 1.5em !important;
        font-size: 0.75em !important;
    }
}

/*---- col-md ----*/
@media(max-width: 992px) {
    #coluna-tecnologias {
        display: none;
    }
}


/*----------------------- TECNOLOGIAS QUENTES -----------------------*/
#coluna-tecnologias {
    padding: 5px 1em;
}

.tecnologias-blog {
    position: sticky;
    top: 100px;
    right: 2em;
    width: 100%;
    height: calc(62vh + 4em);
    padding: 20px 20px 1em 20px;
    margin: 0 0 1.5em 0;
}

.tecnologias-blog h3 {
    font-size: 1.125em;
}

.nav-tecnologias {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    overflow-y: auto;
    overflow-x: hidden;
    height: 80%;
    margin: 0px 5px;
    padding: 1vh 1.1vw;
}

/*---- Botão da tecnologia ----*/
.btn-post-tecnologia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
    min-height: 30px;
    box-sizing: border-box;
    padding: 3px 0.5em;
    overflow: hidden;
    border: 1px solid #7C23F0;
    border-radius: 5px;
    color: #7C23F0;
    font-family: Orbitron;
    font-size: 0.87em;
    background-color: transparent;
}

.btn-post-tecnologia label {
    margin-bottom: 0;
}

.nome-tecnologia {
    width: auto;
    margin-left: 0.6vw;
    overflow: hidden;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.qtd-posts {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 5px;
    border-radius: 5px;
    padding: 0px 5px;
    color: #FFF;
    font-size: 0.75em;
    background-color: #4F26B5;
}

.btn-post-tecnologia:hover {
    background-color: #7C23F0;
    color: #FFF;
    transition: 0.5s;
    transform: scale(1.1);
    box-shadow: 0 0 2px #7C23F0, 0 0 4px #7C23F0, 0 0 0.5em #7C23F0;
}