/*#########################################################
					ESTILIZAÇÃO DA PÁGINA
#########################################################*/

/**************************** IMPORTAÇÕES ****************************/
@font-face {
    font-family: Montserrat-regular;
    src: url(../fontes/montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montsettat-medium;
    src: url(../fontes/montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat-bold;
    src: url(../fontes/montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Source-sans-pro;
    src: url(../fontes/source-sans-pro/static/SourceSans3-Regular.ttf);
}

/**************************** FORMATAÇÃO DO DOCUMENTO ****************************/

/*###################### MEDIA QUERIES ######################*/
@media(max-width: 768px) {
    .img-postagem {
        height: 45vh !important;
    }

    .section-conteudo {
        padding: 2em 3.2em 3.2em 3.2em !important;
    }

    .section-contato {
        padding: 0 3.2em 3.2em 3.2em !important;
    }

    .container-contato {
        padding: 0.75em 4vw !important;
    }

    .titulo-postagem {
        font-size: 1.8em;
    }

    .ref-disciplina {
        font: 1em;
    }

    .data {
        font-size: 0.85em;
    }

    .container-autor {
        height: 12em !important;
    }

    .img-autor {
        width: 5em !important;
        height: 5em !important;
    }

    .nome-autor {
        font-size: 1.1em !important;
    }
}

@media(max-width: 576px) {

    .section-conteudo,
    .section-contato {
        padding: 0 1em 3em 1em !important;
    }

    .titulo-form-contato {
        font-size: 20px !important;
    }
}

@media(max-width: 425px) {
    .img-postagem {
        height: 35vh !important;
    }

    .dados-postagem {
        margin-bottom: 2em !important;
    }

    .container-autor {
        height: 10em !important;
        width: 80% !important;
    }

    .group-img_autor-name_autor {
        margin-bottom: 0.5em !important;
    }

    .img-autor {
        width: 4em !important;
        height: 4em !important;
    }

    .nome-autor {
        font-size: 1em !important;
    }

    .linha {
        margin: 0.5em 0em !important;
    }

    .container-contato {
        padding: 0.75em 0.8em !important;
    }

    .titulo-form-contato {
        font-size: 18px !important;
    }

}

@media(max-width: 340px) {
    .container-autor {
        padding: 1em 1.5em !important;
    }
}

/*------------------------- FORMATAÇÃO PADRÃO -------------------------*/
body {
    margin-top: 0px;
}

.secao {
    padding: 2em 4em 4em 4em;
}

::-webkit-scrollbar {
    display: none;
}


.section-contato {
    padding: 0 4em 4em 4em;
}

.divisao-section {
    width: 100%;
    background-color: #C7C7C7;
}

/*------------------------- CABECALHO: BARRA DE PROGRESSO -------------------------*/
#caminhoRolagem {
    position: fixed;
    width: 100%;
    height: 2px;
    background-color: #303030;
}

#barraProgresso {
    position: fixed;
    z-index: 1;
    height: 2px;
    background-color: #7C23F0;
}

/*------------------------- IMAGEM DA POSTAGEM -------------------------*/
.section-img {
    padding: 0;
    margin: 4.3em 0 1.5em 0;
}

.img-postagem {
    width: 100%;
    height: 55vh;
    object-fit: cover;
}

/*------------------------- CONTEÚDO DA POSTAGEM -------------------------*/
.dados-postagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px 0px;
    width: 90%;
    padding: 0vh 3vw;
    margin-bottom: 3em;
    align-items: center;
}

.titulo-postagem {
    font-family: Montserrat-bold;
    text-align: center;
    color: #FFF;
}

/*REFERENCIA DA DISCIPLINA*/
.ref-disciplina {
    display: inline-block;
    position: relative;
    padding: 2px 4px;
    font-family: Orbitron;
    font-size: 18px;
    color: #7C23F0;
}

.ref-disciplina:hover {
    text-decoration: none;
    color: #7C23F0;
}

/*Efeito underline ref. disciplina*/
.ref-disciplina::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #7C23F0;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.ref-disciplina:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*Efeito underline ref. disciplina*/

.containerTecnologias {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 5px 8px;
    width: 100%;
    padding: 5px 0px 5px 0px;
}

.referencia-tecnologia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6em;
    padding: 10px;
    border-radius: 15px;
    font-family: Goldman Regular;
    background-color: #303030;
    color: #8963E1;
}

.referencia-tecnologia label {
    margin: 0;
    font-size: 14px;
}

.referencia-tecnologia:hover {
    transform: scale(1.1);
    transition: 0.1s;
    border: 1px solid #8963E1;
    box-shadow: 2px 2px 4px #8963E1,
        2px 0px 4px #8963E1;
}

.data {
    margin: 0;
    font-family: "Source-sans-pro";
    font-size: 16px;
    text-align: center;
    color: #FFF;
}

.ref-type-post {
    font-weight: bold;
    color: #8963E1;
}

/*------------------------- CONTAINER DO AUTOR -------------------------*/
.container-autor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 14em;
    min-height: 10em;
    max-height: 20em;
    border-radius: 0.75em;
    margin: 1.3em 0 3em 0;
}

.group-img_autor-name_autor {
    margin-bottom: 1em;
}

.img-autor {
    width: 6.25em;
    height: 6.25em;
    border-radius: 50%;
    object-fit: cover;
}

.nome-autor {
    font-family: Montsettat-medium;
    font-size: 1.25em;
}

.linha {
    background-color: #7C23F0;
    width: 100%;
}

/*------------------------- CONTAINER PARA CONTATO -------------------------*/
.container-contato {
    padding: 0.75em 8vw;
}

.titulo-form-contato {
    display: block;
    padding-bottom: 30px;
    font-family: Montserrat-Bold;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    color: #FFF;
}

.group-input-contato {
    width: 100%;
    margin-bottom: 20px;
}

.input-contato {
    height: 40px;
    width: 100%;
    border-radius: 22px;
    padding: 0 2em;
    display: block;
    font-family: Montserrat-bold;
    font-size: 15px;
    line-height: 1.5;
    border: 1px solid transparent;
    background-color: #212125;
    color: #C7C7C7;
}

textarea.input-contato {
    min-height: 150px;
    border-radius: 25px;
    padding: 12px 30px;
}

.btn-enviar-email {
    height: 40px;
    min-width: 193px;
    border-radius: 22px;
    padding: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    line-height: 1.5;
    background-color: #7C23F0;
    color: #fff;
    transition: all .4s;
    -webkit-transition: all .4s;
}

.form-control:focus {
    outline: 1px solid #FFF;
    box-shadow: none;
    background-color: #212125;
    color: #C7C7C7;
}

input:-webkit-autofill,
.form-control:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #212125e6 inset;
}

input:-webkit-autofill,
.form-control:-webkit-autofill {
    -webkit-text-fill-color: #FFF !important;
}

#loaderEnvioEmail {
    display: none;
}