<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>DevLearning</title>

<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
<link type="text/css" rel="stylesheet" href="/css/base.css"
	media="screen,projection" />
<link type="text/css" rel="stylesheet" href="/css/base.css"
	media="screen,projection" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<script type="text/javascript" src="matreialize/js/materialize.min.js"></script>
<script type="text/javascript" src="matreialize/js/materialize.js"></script>

<body>
	<header>
		<img src="/imagens/logo.png" alt="logo">
		<div>
			<a href="#">Inicio</a> <a href="#">Disciplinas</a>
		</div>
	</header>

	<section style="background-color: red;">
		<p>conteúdo</p>
		<p>conteúdo</p>
		<p>conteúdo</p>
		<p>conteúdo</p>
		<p>conteúdo</p>
		<p>conteúdo</p>
		<p>conteúdo</p>
		<p>conteúdo</p>
		<p>conteúdo</p>
		<p>conteúdo</p>
	</section>

	<footer>
		<h3>Sobre nós</h3>
		<p>somos um grupo de professores e alunos que tem com objetivo
			auxiliar estudantes que têm dificuldades na aprendizagem de
			disciplinas de programação do curso técnico em informática do IFRN.</p>
	</footer>

</body>
</html>