<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: head('DevLearning', 'base-admin', 'disciplinas-style')}"></head>

<body>

	<header th:replace="~{fragmentos :: header}"></header>

	<section>
		<h3 class="cbc-n3 cbc-style-primary">Administração das disciplinas</h3>
		
		<div class="col-md-auto" th:if="${mensagem}" >
			<span th:classappend="${mensagem.isError ? 'error-message' : 'success-message'}" th:text="${mensagem.msg}"></span>
		</div>

		<!--  th:text="${param.mensagem}" -> pega o valor do parametro que vem na url
			th:styleappend="${param.errp != null ? 'display: none;' : ''}  -> adiciona um estilo ao componente"
		 -->
		<!--*****************************************************************
							 INICIO DO FORM DE CADASTRO
		*****************************************************************-->
		<div class="class-container container-fluid ">
			<h5 class="cbc-n4 cbc-style-secundary">Nova Disciplina</h5>

			<form class="mb-3" action="/admin/disciplinas/salvar" method="POST" enctype="multipart/form-data" th:object="${disciplinaFormDTO}">

				<div class="mb-3">
					<label class="form-label">Nome</label>
					<input id="campoNome" type="text" name="nome" class="form-control" th:field="*{nome}" th:errorclass="is-invalid">
					<div class="invalid-feedback" th:errors="*{nome}"></div>
				</div>

				<div class="mb-3">
					<label for="descricaoObjetivos" class="form-label">Descrição dos objetivos</label>
					<textarea id="descricaoObjetivos" name="descricaoObjetivos" rows="6" class="form-control" th:field="*{descricaoObjetivos}" th:errorclass="is-invalid"></textarea> 
					<div class="invalid-feedback" th:errors="*{descricaoObjetivos}"></div>
				</div>
				
				<div class="input-group mb-3">
					<label class="form-label" for="imagemBanner">Imagem de banner da disciplina</label>
					<!-- <img id="imagemBanner" alt="Imagem da disciplina" class="img-fluid" width="100%" th:if="${disciplinaFormDTO.imagem}" th:src="*{imagem}"> --> 					
					<img id="imagemBanner" src="/imagens/sem-imagem.jpg" alt="Imagem da disciplina" class="img-fluid" width="100%"> 					
					
					<div class="custom-file">
						<input id="inputImagemBanner" type="file" name="imagemFile" accept="image/*" th:errorclass="is-invalid"> 
						<label for="inputImagemBanner" class="custom-file-label" >Escolha uma imagem</label>
						<div class="invalid-feedback" th:errors="*{imagemFile}"></div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-auto">
						<input class="btn btn-primary btn-md" type="submit" value="Salvar">
						
						<a th:href="@{/admin/disciplinas}" th:if="${!disciplinaFormDTO.isEmpty()}">
							<button class="btn btn-primary btn-md" type="button">Cancelar</button>
						</a>
					</div>
				</div>


			</form>

		</div>

		<h5 class="cbc-n4 cbc-style-primary2">Disciplinas cadastradas</h5>

		<!--*****************************************************************
							INICIO DO FORM DE PESQUISA
		*****************************************************************-->
		<form action="/admin/disciplinas/pesquisa" method="GET" th:object="${pesquisa}">
			<div class="mb-3">

				<div class="row">
					<div class="col-md-12">
						<label class="form-label">Pesquisar por nome</label>
					</div>
				</div>

				<div class="row">
					<div class="col-md">
						<input type="search" name="nome" placeholder="Insira o nome" class="form-control" th:field="*{valor}" th:errorclass="is-invalid">
						<div class="invalid-feedback" th:errors="*{valor}"></div>

					</div>
					<div class="col-md-auto">
						<input class="btn btn-primary" type="submit" value="Pesquisar"> 
						<a th:href="@{/admin/disciplinas}" th:if="${pesquisa.valor}">
							<button class="btn btn-outline-secondary" type="button">Cancelar</button>
						</a>
					</div>
				</div>
				
			</div> 

		</form>

		<!--*****************************************************************
								INICIO DA TABELA
		*****************************************************************-->
		<div class="table-responsive-md">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Nome</th>
					<th scope="col">Descrição dos objetivos</th>
					<th scope="col">Ações</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="disciplina : ${disciplinas.content}"> 
					<td th:text="${disciplina.id}">
					<td th:text="${disciplina.nome}">
					<td th:text="${#strings.abbreviate(disciplina.descricaoObjetivos, 25)}">

					<td>
						<div class="content-acoes">
							<a th:href="@{/admin/disciplinas/{id}/editar(id=${disciplina.id})}">
								<img src="/icones/editar.png" alt="editar">
							</a>

							<a th:href="@{/admin/disciplinas/{id}/remover(id=${disciplina.id})}"
								onclick="if (confirm('Deseja realmente excluir o item?')){return true;}else{event.stopPropagation(); event.preventDefault();};">
								<img src="/icones/excluir.png" alt="remover">
							</a>
						</div>
					</td>

				</tr>
			</tbody>
		</table>
		</div>

		<!--*****************************************************************
							INICIO DO COMPONENTE DE PAGINAÇÃO
		*****************************************************************-->
		
		<div th:if="${#httpServletRequest.getRequestURI().equals('/admin/disciplinas/pesquisa')}">
			<nav th:replace="~{fragmentos :: paginationWithParameter('disciplinas', '/admin/disciplinas/pesquisa', ${pesquisa.valor})}"></nav>
		</div>
		
		<div th:unless="${#httpServletRequest.getRequestURI().equals('/admin/disciplinas/pesquisa')}">
			<nav th:replace="~{fragmentos :: pagination('disciplinas', '/admin/disciplinas')}"></nav>
		</div>

	</section>

	<footer th:replace="~{fragmentos :: footer}"></footer>

</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<script src="/js/base.js" type="text/javascript"></script>

</html>